node_modules
.env
.env.*
!.env.example
tmp/
build/
dist/
test/
tests/
.github/
.vscode/
.idea/
*.md
.gitignore
.editorconfig
.prettierignore
.eslint*
.prettierrc*
packages/front/node_modules/
packages/front/.astro/
packages/front/dist/
